$blue: #0074FF;
$background: #00041C;
$gold: #FFCE00;
$nav: #2A4182;

h1{
    color: black;
}

h2{
    color: black;
}

h3{
    color: black;
}

strong{
    color: black;
}

em{
    color: black;
}

p{
    color: black;
    margin: 0;

}

@media screen and (min-width: 800px){

    body{
        background-color: #EEEEEE;
        color: black;
    }

    #wolf{
        opacity: 0;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5vw;
    }

    .header{
        text-align: center;
        margin: 2vw;
        h1{
            font-size: 4vw;
            color: black;
            font-weight: 700;
            margin: 0;
        }
        h2{
            font-size: 2vw;
            font-weight: 500;
            color: black;
            margin: 1vw;
        }
        h3{
            font-size: 1.5vw;
            font-weight: 600;
            color: black;
            margin: 0;
        }

    }

    p{
        color: black;
        width: 80%;
        font-size: 1.3vw;
        font-weight: 400;
        margin-bottom: 1vw;
    }

    .banner{
        background-size: cover;
        background-attachment: fixed;
        height: 50vh;
        width: 100vw;
        margin: 2vw;
    }

}

@media screen and (max-width: 800px){

    body{
        background-color: #EEEEEE;
        color: black;
    }

    #wolf{
        opacity: 0;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20vw;
    }

    .header{
        text-align: left;
        margin: 4vw;
        margin-top: 2vw;
        h1{
            font-size: 11vw;
            line-height: 11vw;
            color: black;
            font-weight: 700;
        }
        h2{
            font-size: 6vw;
            font-weight: 500;
            color: black;
            margin-top: -3vw;
            margin-bottom: 3vw;
        }
        h3{
            font-size: 5vw;
            font-weight: 600;
            color: black;
            margin: 0;
        }

    }

    p{
        width: 92%;
        color: black;
        font-size: 4vw;
        font-weight: 400;
        margin-top: 2vw;
        margin-bottom: 3vw;
    }

    .banner{
        background-size: 100%;
        background-attachment: fixed;
        height: 30vw;
        width: 100vw;
        margin-top: -2vw;
        margin-bottom: 2vw;
    }

}