::-webkit-scrollbar {
  width: 0px;
}

@media screen and (min-width: 800px) {
  #navbar {
    background-color: rgba(0, 4, 28, 0);
  }
  #wolf.widescreen {
    width: 90vh;
    height: 90vh;
  }
  .notification {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: fixed;
    z-index: 10;
    top: -8vw;
    left: 38vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5vw;
    border-radius: 3vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);
  }
  .notification h1 {
    font-size: 1.5vw;
    color: black;
    font-weight: 500;
    margin: 0.5vw;
    margin-bottom: 0.2vw;
    margin-left: 1.3vw;
  }
  .notification h2 {
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    margin: 0.5vw;
    margin-top: 0vw;
    margin-left: 1.3vw;
  }
  .notification button {
    color: white;
    border: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #0074FF;
    font-size: 1vw;
    font-weight: 600;
    padding: 1vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    border-radius: 2vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .notification button:hover {
    background-color: #005dcc;
  }
  .notification button:focus {
    outline: none;
  }
  .notif-active {
    top: 1vw;
  }
  .hor-flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page {
    width: 95vw;
    height: 98vh;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page .sec {
    width: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .page .sec h1 {
    font-weight: 400;
    line-height: 3.5vw;
    font-size: 2.8vw;
  }
  .page .sec.right {
    text-align: right;
  }
  .page .sec input {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.7vw;
    font-size: 1.5vw;
    padding: 1vw;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .page .sec input:hover {
    border: 2px solid #0074FF;
  }
  .page .sec button {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.7vw;
    font-size: 1.5vw;
    padding: 0.7vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    margin-left: 0.4vw;
  }
  .page .sec button svg {
    height: 1.5vw;
    -webkit-transform: translate(0, 0.2vw);
            transform: translate(0, 0.2vw);
    width: auto;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .page .sec button #arrow {
    height: 100%;
    stroke: white;
    fill: none;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .page .sec button:hover {
    border: 2px solid #0074FF;
  }
  .page .sec button:hover svg {
    -webkit-transform: translate(0.2vw, 0.2vw);
            transform: translate(0.2vw, 0.2vw);
  }
  .page .sec button:hover #arrow {
    stroke: #0074FF;
  }
  .page.widescreen {
    width: 75vw;
  }
  .page.widescreen .sec {
    width: 25vw;
    margin-right: 5vw;
  }
  .page.widescreen .sec h1 {
    font-weight: 500;
    font-size: 2vw;
  }
  .page.widescreen .sec input {
    font-size: 1vw;
  }
  .page.widescreen .sec button {
    padding: 0.5vw;
  }
  .page.widescreen .sec button svg {
    height: 1vw;
    margin: 0;
    -webkit-transform: translate(0vw, -0.01vw);
            transform: translate(0vw, -0.01vw);
  }
  .page.widescreen .sec:hover svg {
    -webkit-transform: translate(0.2vw, -0.01vw);
            transform: translate(0.2vw, -0.01vw);
  }
  #pointer {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .notification {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: fixed;
    z-index: 10;
    top: -20vw;
    left: 13vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    padding: 3vw;
    border-radius: 10vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);
  }
  .notification h1 {
    font-size: 5vw;
    color: black;
    font-weight: 500;
    margin: 0.5vw;
    margin-bottom: 0.2vw;
    margin-left: 1.3vw;
  }
  .notification h2 {
    font-size: 3.5vw;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    margin: 0.5vw;
    margin-top: 0vw;
    margin-left: 1.3vw;
  }
  .notification button {
    color: white;
    border: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #0074FF;
    font-size: 4vw;
    font-weight: 600;
    padding: 2vw;
    margin-right: 0.5vw;
    margin-left: 1vw;
    border-radius: 10vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .notification button:hover {
    background-color: #004699;
  }
  .notification button:focus {
    outline: none;
  }
  .notif-active {
    top: 4vw;
  }
  #pointer {
    width: 8vw;
    height: 8vw;
    padding: 4vw;
    position: absolute;
    bottom: 10vw;
    left: 43vw;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10vw;
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-animation: 0.5s ease-in-out point infinite alternate;
            animation: 0.5s ease-in-out point infinite alternate;
  }
  #pointer svg {
    width: 100%;
    height: 100%;
    stroke: white;
    fill: none;
    stroke-linecap: round;
    stroke-width: 1.3px;
  }
  #pointer.dorm {
    visibility: hidden;
    opacity: 0;
  }
  @-webkit-keyframes point {
    from {
      -webkit-transform: rotate(90deg) translateX(0vw);
              transform: rotate(90deg) translateX(0vw);
    }
    to {
      -webkit-transform: rotate(90deg) translateX(2vw);
              transform: rotate(90deg) translateX(2vw);
    }
  }
  @keyframes point {
    from {
      -webkit-transform: rotate(90deg) translateX(0vw);
              transform: rotate(90deg) translateX(0vw);
    }
    to {
      -webkit-transform: rotate(90deg) translateX(2vw);
              transform: rotate(90deg) translateX(2vw);
    }
  }
  .page {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 100vh;
    left: 0;
  }
  .page .sec {
    width: 80%;
    text-align: center;
  }
  .page .sec h1 {
    font-weight: 400;
    font-size: 6vw;
    line-height: 7vw;
  }
  .page .sec input {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2vw;
    font-size: 5vw;
    padding: 2vw;
    width: 60%;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .page .sec input:hover {
    border: 2px solid #0074FF;
  }
  .page .sec button {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2vw;
    font-size: 5vw;
    padding: 2vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    margin-left: 1vw;
  }
  .page .sec button svg {
    height: 4vw;
    -webkit-transform: translate(0, 0.2vw);
            transform: translate(0, 0.2vw);
    width: auto;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .page .sec button #arrow {
    height: 100%;
    stroke: white;
    fill: none;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    stroke-width: 1.5px;
    stroke-linecap: round;
  }
  .page .sec button:hover {
    border: 2px solid #0074FF;
  }
  .page .sec button:hover svg {
    -webkit-transform: translate(0.5vw, 0.2vw);
            transform: translate(0.5vw, 0.2vw);
  }
  .page .sec button:hover #arrow {
    stroke: #0074FF;
  }
}

@-webkit-keyframes dropdown {
  from {
    top: -5vw;
  }
  to {
    top: 2vw;
  }
}

@keyframes dropdown {
  from {
    top: -5vw;
  }
  to {
    top: 2vw;
  }
}

.fail {
  -webkit-animation: slide 0.4s;
          animation: slide 0.4s;
  border-color: red !important;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-0.5vw);
            transform: translateX(-0.5vw);
  }
  20% {
    -webkit-transform: translateX(0.5vw);
            transform: translateX(0.5vw);
  }
  40% {
    -webkit-transform: translateX(-0.5vw);
            transform: translateX(-0.5vw);
  }
  60% {
    -webkit-transform: translateX(0.5vw);
            transform: translateX(0.5vw);
  }
  80% {
    -webkit-transform: translateX(-0.5vw);
            transform: translateX(-0.5vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-0.5vw);
            transform: translateX(-0.5vw);
  }
  20% {
    -webkit-transform: translateX(0.5vw);
            transform: translateX(0.5vw);
  }
  40% {
    -webkit-transform: translateX(-0.5vw);
            transform: translateX(-0.5vw);
  }
  60% {
    -webkit-transform: translateX(0.5vw);
            transform: translateX(0.5vw);
  }
  80% {
    -webkit-transform: translateX(-0.5vw);
            transform: translateX(-0.5vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
            transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
            transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
            transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
            transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*# sourceMappingURL=landing.css.map */